<%= @post.errors.full_messages.join(', ') %>

<%= form_for @post do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :body %>
    <%= f.text_field :body %>
    <%= f.label :category %>
    <%= f.collection_select :category_id,
              Category.all,
              :id, # this represent the method that is used for the option tag's value
              :name, # this repesents the method that is used for the option tag's text
              include_blank: true,
              prompt: 'Choose a category'
              %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>
