<div class="container">

<div class="container visible-lg">
  <div class="row">
    <div class="col-lg-8">
      <%= image_tag 'prince.jpg', class: "img-responsive" %>
    </div>

    <div class="col-lg-4">
      <h3>Most Liked</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Magnam cum et totam accusantium? Veritatis, voluptatum,
        consequatur? Similique atque maxime recusandae dignissimos
        esse, quaerat magnam sit excepturi, ab, architecto facilis
        earum.
      </p>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-lg-1">
      <i class="fa fa-heart-o fa-2x" aria-hidden="true" style="display: inline"></i>
      <h4 style="display: inline">476</h4>
    </div>
    <div class="col-lg-6">
      <%= link_to 'Add a Post', '/login', class: "btn btn-primary btn-block" %>
    </div>
    <div class="col-lg-1">
      <i class="fa fa-bookmark-o fa-2x" aria-hidden="true" style="float: right;"></i>
    </div>

  </div>
  <div class="row">
    <div class="col-lg-8">
      <h3>Post Title</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Magnam cum et totam accusantium? Veritatis, voluptatum,
        consequatur? Similique atque maxime recusandae dignissimos
        esse, quaerat magnam sit excepturi, ab, architecto facilis
        earum.
      </p>
      <h4><a href="#">Post Author Name</a></h4>
      <i><%= Time.now() %></i>
    </div>
  </div>
</div>
<br>
<br>



  <!-- <div class="row">

      <div class="col-sm-12 col-md-12 col-lg-12 ">
        <%= link_to 'Add a Post', new_post_path, class: "btn btn-primary btn-block" %>
      </div>

  </div> -->
      <br />
            <% @posts.each_slice(3) do |group| %>
              <div class="row">
                <% group.each do |post| %>
                  <div class="col-sm-12 col-md-12  col-lg-4 col-xl-3 posts">
                    <%= image_tag 'prince.jpg', class: "img-responsive" %>
                    <div>
                      <i class="fa fa-heart-o fa-2x" aria-hidden="true" style="display: inline"></i>
                      <h4 style="display: inline"><%= post.id %></h4>
                      <i class="fa fa-bookmark-o fa-2x" aria-hidden="true" style="float: right;"></i>
                    </div>

                    <%= link_to post.title, post_path(post) %>

                    <br />
                    <br />
                    <!-- <p><string>Category:<br /> </string><%= post&.category&.name %></p> -->
                    <p><string>Body:<br />  </string><%= post.body %></p>
                    <h4><a href="#">Post Author Name</a></h4>
                    <div><%= post.created_at.strftime("%B %d, %Y") %></div>
                  </div>
                  <hr class="hidden-lg">
                <% end %>
            </div>
          <% end %>

</div>
